@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-next, .swiper-button-prev {
    color: white; /* Change button color */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Ensure it's properly centered */
  }
  
  .swiper-button-next {
    right: 10px; /* Adjust right-side position */
  }
  
  .swiper-button-prev {
    left: 10px; /* Adjust left-side position */
  }